<form action="/coach/create" method="POST" class="form-signin" id="signupform">
  <h2 class="form-group-lg">Opprett ein konto</h2>



  <% if(flash && flash.err) { %>
  <ul class="alert alert-success">
    <% Object.keys(flash.err).forEach(function(error) { %>
    <li><%- JSON.stringify(flash.err[error]) %></li>
    <% }) %>
  </ul>
  <% } %>

  <div class="control-group">
  <label for="firstname">Fornavn:</label>
  <input id="firstname" type="text" class="form-control" placeholder="Skriv inn ditt fornamn her" name="firstname">
  </div>

  <div class="control-group">
  <label for="lastname">Etternavn:</label>
  <input id="lastname" type="text" class="form-control" placeholder="Skriv inn ditt etternamn her" name="lastname">
  </div>

  <div class="control-group">
  <label for="email">Epostadresse:</label>
  <input id="email" type="text" class="form-control" placeholder="Skriv inn din epostadresse her" name="email">
  </div>

  <div class="control-group">
    <label for="tlf">Telefonnummer:</label>
    <input id="tlf" type="number" class="form-control" placeholder="Skriv inn ditt telefonnummer her" name="tlf">
  </div>

  <div class="control-group">
  <label for="password">Passord:</label>
  <input id="password" type="password" class="form-control" placeholder="Skriv inn ditt ønska passord her" name="password">
  </div>
  <div class="control-group">
    <label for="confirmation">Bekreft passord:</label>
  <input id="confirmation" type="password" class="form-control" placeholder="Vennligst bekreft ønska passord" name="confirmation">
  </div>

  <br />

  <input type="submit" class="btn-lg btn-primary btn-block" value="Opprett konto"/>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
