<div class='container'>
  <h1><%= coach.firstname + '&nbsp;' + coach.lastname %> </h1>

  <hr>
  <h3>Contact: <%= coach.tlf %> </h3>
  <h3><%= coach.email %> </h3>

  <a class="btn btn-medium btn-primary" href="/coach/edit/<%= coach.id %>">Edit</a>

</div>
